/* Estilo para el dropdown */
.season-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    font-family: 'Netflix Sans';
    margin-top: 2.3em;
    background-color: #183347;
    border: 0.125em solid #007bff; /* 2px a 0.125em */
    color: white;
    padding: 0.625em 0.625em; /* 10px a 0.625em */
    font-size: 1em; /* 16px a 1em */
    cursor: pointer;
    border-radius: 0.1875em; /* 3px a 0.1875em */
    margin-bottom: -0.3125em; /* -5px a -0.3125em */
    width: 15em; /* 240px a 15em */
    text-align: left;
    font-weight: 700;
    position: relative;
}

.dropdown-button::after {
    content: "▼";
    font-size: 1.2em;
    color: #fff;
    position: absolute;
    right: 0.7em;
    top: 52%;
    transform: translateY(-50%);
    transition: transform 0.3s ease, color 0.3s ease;
}

/* Clase para cuando el dropdown está abierto (flecha hacia arriba) */
.dropdown-button.open::after {
    transform: translateY(-50%) rotate(180deg); /* Mantener el centro y girar la flecha */
}

.dropdown-button:hover {
    background-color: #007bff; /* Color más oscuro al pasar el mouse */
    cursor: pointer;
}

.dropdown-content {
    font-family: 'Netflix Sans';
    display: none;
    position: absolute;
    background-color: #183347; /* Fondo igual que el del botón */
    border: 0.125em solid #007bff; /* 2px a 0.125em */
    padding: 0.625em 0.625em; /* 10px a 0.625em */
    color: white; /* Texto blanco */
    width: 15em; /* 240px a 15em */
    z-index: 1;
    box-shadow: 0px 0.5em 1em rgba(0, 0, 0, 0.2); /* 8px a 0.5em y 16px a 1em */
    border-radius: 0.1875em; /* 3px a 0.1875em */
    margin-top: 0.6em; /* Espaciado entre el botón y el menú */
    text-align: justify;
}

#textotemp {
    margin-left: 0.5em;
    font-size: 1.1em;
}

.dropdown-content button {
    font-family: 'Netflix Sans';
    font-weight: 600;
    color: white;
    background: #ffffff00;
    padding: 0.625em 0.625em; /* 10px a 0.625em */
    text-decoration: none;
    display: block;
    border: none;
    width: 17.7em; /* 238px a 14.875em */
    cursor: pointer;
    text-align: justify;
    position: relative;
    left: -0.72em;
    margin-bottom: -1.4em;
}

.dropdown-content button:hover {
    background-color: #007BFF; /* Color de hover en los botones */
}

/* Mostrar el contenido del dropdown al pasar el ratón o hacer clic */
.dropdown-button:focus + .dropdown-content,
.dropdown-content:hover {
    display: block;
}

/* Media Queries para Responsive Design */

/* Pantallas pequeñas */
@media (max-width: 48em) { /* 768px a 48em */
    .dropdown-button {
        font-size: 1.2em; /* 19.2px a 1.2em */
        width: 75%; /* Ajuste en tamaño del botón */
    }

    .dropdown-content {
        width: 75%; /* Ajuste en el tamaño del dropdown */
    }

    .dropdown-content button {
        width: 70%; /* Ajuste en tamaño de los botones */
    }
}

/* Pantallas aún más pequeñas (como móviles) */
@media (max-width: 30em) { /* 480px a 30em */
    .dropdown-button {
        font-size: 1.1em; /* 17.6px a 1.1em */
        width: 80%; /* Ajuste en tamaño del botón */
    }

    .dropdown-content {
        width: 80%; /* Ajuste en el tamaño del dropdown */
    }

    .dropdown-content button {
        width: 75%; /* Ajuste en tamaño de los botones */
    }
}