/* Importamos la tipografía 'Netflix Sans' desde Sol Argentino TV Fuentes */
@import url('https://fuentes.solargentinotv.com.ar/netflixsans.css');
/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Netflix Sans', sans-serif;
    background-color: #293137;
    color: #fff;
    font-size: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: #183347;
    padding: 1.25em;
    box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

nav li {
    margin-right: 1.25em;
}

nav a {
    color: #0078D4;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.125em;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #005a9e;
}

nav .logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
}

.search-form {
    display: flex;
    justify-content: flex-end;
}

.search-form input[type="text"] {
    width: 250px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #007bff;
    border-radius: 5px 0 0 5px;
}

.search-form button {
    background-color: #007bff;
    color: white;
    border-left: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

/* Main */
main {
    padding: 3.125em;
    text-align: center;
}

h1 {
    font-size: 2.25em;
    margin-bottom: 2.5em;
}

.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25em;
}

.pelicula {
    background-color: #183347;
    width: 240px;
    text-align: center;
    padding: 1em;
    border-radius: 0.3em;
    box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.1);
}

.pelicula img {
    max-width: 100%;
    border-radius: 0.3em;
}

.pelicula h3 {
    font-size: 1.25em;
    margin-top: 1em;
}

.pelicula p {
    font-size: 1em;
    margin-top: 0.5em;
}

/* Footer */
footer {
    background-color: #183347;
    padding: 1.25em;
    text-align: center;
    margin-top: auto;
}
