/* Importamos la tipografía 'Netflix Sans' desde Sol Argentino TV Fuentes */
@import url('https://fuentes.solargentinotv.com.ar/netflixsans.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Netflix Sans', sans-serif;
    background-image: url('https://movies.solargentinotv.com.ar/—Pngtree—black background texture advertising_1911402.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    font-size: 1rem; /* Base font size = 16px */
    height: 100%; /* Asegura que ocupe todo el alto de la pantalla */
    margin: 0; /* Elimina el margen por defecto */
    padding: 0; /* Elimina el padding por defecto */
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1; /* Hace que el contenedor principal ocupe el espacio restante */
    display: flex;
    flex-direction: column;
    gap: 1em; /* Espacio entre las filas */
}

header {
    background-image: url('https://movies.solargentinotv.com.ar/—Pngtree—black background texture advertising_1911402.png');
    background-size: cover; /* Asegura que la imagen cubra todo el header */
    background-position: center; /* Centra la imagen */
    padding: 1.25em; /* Espaciado dentro del header */
    box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

h1 {
    font-size: 2.25em; /* 36px = 2.25em */
    margin-bottom: 2.5em; /* 40px = 2.5em */
    color: #fff; /* Color blanco para el título */
    text-align: center; /* Centrado del título */
}

.desc {
    margin-top: 1.5em; /* Espaciado por encima de la descripción */
    font-size: 1.125em; /* Tamaño de fuente ligeramente mayor */
    color: #ddd; /* Color claro para la descripción */
    text-align: center; /* Centrado del texto de la descripción */
    padding: 0 20px; /* Espaciado interno para que no toque los bordes */
}

.desc p {
    line-height: 1.5; /* Espaciado entre las líneas del párrafo */
    max-width: 800px; /* Ancho máximo para mejorar legibilidad */
    margin: 0 auto; /* Centrado del párrafo */
}

h4 {
    font-size: 1.2em;
    margin-top: 2em;
    font-weight: normal;
}
nav a:active {
    color: #fff;
}

header a.active {
    color: #fff;
}

nav ul {
    display: flex;
    justify-content: center; /* Centra los elementos del menú */
    list-style: none; /* Elimina los puntos de lista */
}

nav li {
    margin: 0 1.25em; /* Espaciado entre los elementos del menú */
}

nav a {
    color: #0078D4; /* Color azul para los enlaces */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    font-weight: bold; /* Texto en negrita */
    font-size: 1.125em; /* Tamaño de fuente para los enlaces */
    transition: color 0.3s ease; /* Efecto suave para el cambio de color */
    position: relative;
    top: 0.3em;
    font-size: 1.4em;
}

nav a:hover {
    color: #005a9e; /* Azul más oscuro en hover */
}

.logo {position: absolute;left: -0.2em;color: #0078D4;font-weight: 700;font-size: 2em;}

/* Estilos para la barra de búsqueda */
.search-form {
    display: flex;
    justify-content: right; /* Alinea la barra de búsqueda a la derecha */
    margin-top: -1.7em; /* Espaciado superior */
}

.search-form input[type="text"] {
    width: 250px; /* Ancho fijo para el input */
    font-family: 'Netflix Sans'; /* Tipografía */
    padding: 10px;
    font-size: 16px;
    border: 2px solid #0078D4; /* Borde azul */
    border-radius: 5px 0 0 5px; /* Bordes redondeados */
    outline: none;
    font-weight: 700; /* Negrita */
    color: #0078D4;
}

.search-form input[type="text"]:focus {
    border-color: #0078D4; /* Cambia el borde a azul cuando se enfoca */
}

.search-form input[type="text"]::placeholder {
    color: #0078D4; /* Color del texto placeholder */
}

.search-form button {
    font-family: 'Netflix Sans';
    padding: 10px 15px;
    font-size: 16px;
    background-color: #0078D4; /* Fondo azul */
    color: white;
    border-left: #fff;
    border-top: 2px solid #0078D4;
    border-right: 2px solid #0078D4;
    border-bottom: 2px solid #0078D4;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-weight: 700;
}

.search-form button:hover {
    background-color: #007bff; /* Fondo más oscuro en hover */
}

.search-form button:focus {
    outline: none; /* Elimina el borde del botón al hacer clic */
}


main {
    text-align: center;
    padding: 3.125em; /* 50px = 3.125em */
    flex-grow: 1; /* Asegura que el main ocupe el espacio restante entre el header y el footer */
}

.pelicula h3.matiponcepeli {
    margin-top: 2em;
}

.catalogo {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 elementos por fila */
    gap: 1.25em; /* Espacio entre las tarjetas */
    margin-top: 1.25em;
}

.acercadecont {
    background-color: #183347; /* Fondo blanco para los items */
    border-radius: 0.3em; /* Bordes redondeados */
    width: 100%;
    max-width: 60em; /* 240px = 15em */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 1.25em; /* 20px = 1.25em */
    box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.3); /* Sombra negra notable en los items */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    padding-left: 3em;
    padding-right: 3em;
}

.acercadecont p {
    font-size: 0.875em; /* 14px = 0.875em */
    color: #fff; /* Gris oscuro para el texto */
    margin-bottom: 1.25em; /* 20px = 1.25em */
    text-align: justify;
    padding: 0.9em;
    flex-grow: 1; /* Permite que la sinopsis ocupe el espacio restante */
    overflow: hidden; /* Evita que el texto se desborde si es muy largo */
}

.acercadecont h1 {
    margin-top: 0.65em;
    margin-bottom: 0.3em;
}

.pelicula img {
    width: 100%;
    height: 200px; /* Establece una altura fija para todas las imágenes */
    object-fit: cover;
    border-radius: 0.3em 0.3em 0 0; /* Bordes redondeados solo en la parte superior */
    margin-bottom: 0.625em; /* 10px = 0.625em */
}

/* Aseguramos que el contenedor de las películas tenga una altura fija */
.pelicula {
    background-color: #183347; /* Fondo blanco para los items */
    border-radius: 0.3em; /* Bordes redondeados */
    width: 100%;
    max-width: 15em; /* 240px = 15em */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 1.25em; /* 20px = 1.25em */
    box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.3); /* Sombra negra notable en los items */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 380px; /* Asegura que todas las películas tengan la misma altura */
}

.pelicula h3 {
    font-size: 1.25em; /* 20px = 1.25em */
    margin-bottom: 0.625em; /* 10px = 0.625em */
    text-align: center;
    padding: 0.19em;
    font-weight: 600; /* Para hacerlo un poco más destacado */
    flex-grow: 0; /* No debe expandirse, su altura debe ser fija */
}

.pelicula p {
    font-size: 0.875em; /* 14px = 0.875em */
    color: #fff; /* Gris oscuro para el texto */
    margin-bottom: 1.25em; /* 20px = 1.25em */
    text-align: justify;
    padding: 0.9em;
    flex-grow: 1; /* Permite que la sinopsis ocupe el espacio restante */
    overflow: hidden; /* Evita que el texto se desborde si es muy largo */
}

.pelicula:hover {
    transform: translateY(-0.625em); /* 10px = 0.625em */
    box-shadow: 0 0.3em 1.5em rgba(0, 0, 0, 0.4); /* Aumentar la sombra al pasar el cursor */
}

button {
    background-color: #0078D400;
    color: #ffffff00;
    border: none;
    padding: 0.625em 1.25em; /* 10px 20px = 0.625em 1.25em */
    font-weight: bold;
    font-size: 1em; /* 16px = 1em */
    border-radius: 0 0 0.3em 0.3em; /* 5px = 0.3125em */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

footer {
    background-image: url('https://movies.solargentinotv.com.ar/—Pngtree—black background texture advertising_1911402.png');
    background-size: cover; /* Asegura que la imagen cubra todo el footer */
    background-position: center; /* Centra la imagen */
    text-align: center;
    padding: 1.25em; /* 20px = 1.25em */
    margin-top: 2.5em; /* 40px = 2.5em */
    position: relative;
    width: 100%;
    bottom: 0;
}

footer p {
    font-size: 0.875em; /* 14px = 0.875em */
    color: #fff;
}

/* Estilos básicos del botón */
.avisame-button {
    display: flex;
    align-items: center;
    background-color: #0078D4;
    color: white;
    border: none;
    padding: 0.5em 1em; /* Usando 'em' para que sea más responsive */
    font-size: 1em;
    cursor: pointer;
    border-radius: 0 0 0.3em 0.3em; /* Border-radius especificado */
    transition: all 0.3s ease;
    font-family: 'Netflix Sans';
    justify-content: center;
}

.avisame-button .bell-icon {
    margin-right: 0.5em; /* Espacio entre el ícono de la campana y el texto */
}

/* Estilo cuando el botón está en estado "Activado" */
.avisame-button.recordatorio-activado {
    background-color: #fff;
    color: #000;
}

/* Formulario de suscripción */
.subscription-form {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em; /* Espacio entre los campos del formulario */
    font-family: 'Netflix Sans';
}

.subscription-form input {
    padding: 0.5em;
    border-radius: 0.3em;
    border: 1px solid #ccc;
    font-size: 1em;
    font-family: 'Netflix Sans';
}

.subscription-form button {
    background-color: #0078D4;
    color: white;
    border: none;
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
    border-radius: 0.3em;
    font-family: 'Netflix Sans';
}

#user-nick {
    color: #0078D4;
    font-family: 'Netflix Sans';
    border: #0078D4 0.2em solid;
    width: 12%;
    height: 32%;
    text-align: center;
    background: #fff;
    font-weight: 700;
    align-content: center;
    border-radius: 0.3em;
    cursor: pointer; /* Añadido para mejorar la interacción con el botón */
}

#logout-btn {
    color: #0078D4;
    font-family: 'Netflix Sans';
    border: #0078D4 0.2em solid;
    width: 12%;
    height: 32%;
    text-align: center;
    background: #fff;
    font-weight: 700;
    align-content: center;
    border-radius: 0.3em;
    cursor: pointer;
    position: relative;
    top: -2.3em;
    left: 14.4em;
    justify-content: center;
    text-align: center;
    display: grid;
}

#logout-btn:hover {
    background-color: #0078D4; /* Cambio de color al pasar el ratón por encima */
    color: white; /* Cambia el color del texto al pasar el ratón */
}

/* Media Queries para diseño responsive */
@media (max-width: 48em) { /* Máximo 48em = 768px */
    .avisame-button {
        font-size: 0.9em;
        padding: 0.4em 0.8em;
    }

    .avisame-button .bell-icon {
        margin-right: 0.3em;
    }

    .subscription-form {
        gap: 0.4em;
    }

    .subscription-form input {
        font-size: 0.9em;
        padding: 0.4em;
    }

    .subscription-form button {
        font-size: 0.9em;
        padding: 0.4em 0.8em;
    }
}

@media (max-width: 30em) { /* Máximo 30em = 480px */
    .avisame-button {
        font-size: 0.8em;
        padding: 0.3em 0.6em;
    }

    .avisame-button .bell-icon {
        margin-right: 0.3em;
    }

    .subscription-form {
        gap: 0.3em;
    }

    .subscription-form input {
        font-size: 0.8em;
        padding: 0.3em;
    }

    .subscription-form button {
        font-size: 0.8em;
        padding: 0.3em 0.6em;
    }
}

/* Media Queries para diseño responsive */
@media (max-width: 48em) { /* Máximo 48em = 768px */
    .avisame-button {
        font-size: 0.9em;
        padding: 0.4em 0.8em;
    }

    .avisame-button .bell-icon {
        margin-right: 0.3em;
    }

    .subscription-form {
        gap: 0.4em;
    }

    .subscription-form input {
        font-size: 0.9em;
        padding: 0.4em;
    }

    .subscription-form button {
        font-size: 0.9em;
        padding: 0.4em 0.8em;
    }
}

@media (max-width: 30em) { /* Máximo 30em = 480px */
    .avisame-button {
        font-size: 0.8em;
        padding: 0.3em 0.6em;
    }

    .avisame-button .bell-icon {
        margin-right: 0.3em;
    }

    .subscription-form {
        gap: 0.3em;
    }

    .subscription-form input {
        font-size: 0.8em;
        padding: 0.3em;
    }

    .subscription-form button {
        font-size: 0.8em;
        padding: 0.3em 0.6em;
    }
}

/* Media Queries para diseño responsive */
@media (max-width: 48em) { /* Máximo 48em = 768px */
    .avisame-button {
        font-size: 0.9em;
        padding: 0.4em 0.8em;
    }

    .avisame-button .bell-icon {
        margin-right: 0.3em;
    }

    .subscription-form {
        gap: 0.4em;
    }

    .subscription-form input {
        font-size: 0.9em;
        padding: 0.4em;
    }

    .subscription-form button {
        font-size: 0.9em;
        padding: 0.4em 0.8em;
    }
}

@media (max-width: 30em) { /* Máximo 30em = 480px */
    .avisame-button {
        font-size: 0.8em;
        padding: 0.3em 0.6em;
    }

    .avisame-button .bell-icon {
        margin-right: 0.3em;
    }

    .subscription-form {
        gap: 0.3em;
    }

    .subscription-form input {
        font-size: 0.8em;
        padding: 0.3em;
    }

    .subscription-form button {
        font-size: 0.8em;
        padding: 0.3em 0.6em;
    }
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 768px) {
    footer {
        position: relative;
        bottom: 0;
    }
}

@media (max-width: 480px) {
    footer {
        position: relative;
        bottom: 0;
    }
}

/* Estilos para dispositivos pequeños (móviles) */
@media (max-width: 48em) { /* 768px = 48em */
    .pelicula {
        width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
    }

    .catalogo {
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 1.75em; /* 28px = 1.75em */
    }
}

/* Estilos para pantallas grandes (por ejemplo, tabletas y escritorios grandes) */
@media (min-width: 48.063em) { /* 769px = 48.063em */
    .pelicula {
        width: 100%;
        max-width: 22em; /* 300px = 18.75em */
        height: 100%;
        max-height: 100em;
    }
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 768px) {
    footer {
        position: relative;
        bottom: 0;
    }
}

@media (max-width: 480px) {
    footer {
        position: relative;
        bottom: 0;
    }
}

/* Estilos para dispositivos pequeños (móviles) */
@media (max-width: 48em) { /* 768px = 48em */
    .pelicula {
        width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
    }

    .catalogo {
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 1.75em; /* 28px = 1.75em */
    }
}

/* Estilos para pantallas grandes (por ejemplo, tabletas y escritorios grandes) */
@media (min-width: 48.063em) { /* 769px = 48.063em */
    .pelicula {
        width: 100%;
        max-width: 22em; /* 300px = 18.75em */
        height: 100%;
        max-height: 100em;
    }
}