/* Estilos de Perfect Scrollbar */
.perfect-scrollbar {
  position: relative;
  overflow: hidden; /* Oculta las barras de desplazamiento predeterminadas */
}

.perfect-scrollbar .ps__rail-x,
.perfect-scrollbar .ps__rail-y {
  position: absolute;
  background: transparent; /* Fondo transparente */
  z-index: 999;
  opacity: 1; /* Mantener visible en todo momento */
  transition: opacity 0.3s ease;
  border-radius: 10px; /* Bordes redondeados */
}

.perfect-scrollbar .ps__thumb-x,
.perfect-scrollbar .ps__thumb-y {
  position: absolute;
  background: #007bff; /* Color base de la barra */
  border-radius: 10px; /* Bordes redondeados */
  width: 8px; /* Ancho de la barra de desplazamiento */
  transition: background 0.3s ease;
}

.perfect-scrollbar .ps__thumb-x:hover,
.perfect-scrollbar .ps__thumb-y:hover {
  background: #0078D4; /* Color al pasar el ratón */
}

.perfect-scrollbar .ps__rail-x {
  height: 6px; /* Espesor de la barra horizontal */
}

.perfect-scrollbar .ps__rail-y {
  width: 6px; /* Espesor de la barra vertical */
}

/* Estilo para el contenedor con barra de desplazamiento */
#scroll-container {
  position: relative;
  max-height: 400px; /* Ajusta la altura del contenedor según sea necesario */
  overflow: hidden;
}
