/* Estilo general para todo el encabezado */
.encabezado header {
    background-image: url('https://movies.solargentinotv.com.ar/—Pngtree—black background texture advertising_1911402.png');
    background-size: cover;
    background-position: center;
    padding: 1.25em;
    box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.1);
}

.encabezado header a.active {
    color: #fff;
}

/* Estilo para el ícono de la campana */
.encabezado .notification-icon {
    position: relative;
    cursor: pointer;
    font-size: 1.5em;
    left: 65em;
    top: -3em;
    max-width: 10em;
}

/* El contador de notificaciones en rojo */
.encabezado .notification-count {
    position: absolute;
    top: -3.7em;
    right: 23em;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0.3em;
    font-size: 0.75em;
}

/* Estilo para el modal de notificaciones */
.encabezado .notifications-popup {
    display: none;
    position: absolute;
    top: 21.5em;
    right: 21.4em;
    transform: translateY(-50%);
    background-color: #181818;
    width: 22em;
    height: 30em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 1em;
    font-size: 1em;
    border-radius: 0.3em;
}

.encabezado .notifications-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.encabezado .notifications-header h4 {
    position: relative;
    margin-top: -1em;
    left: 0.3em;
}

.encabezado .notifications-popup ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.encabezado .notifications-popup ul li {
    padding: 0.5em;
    border-bottom: 0.1em solid #eee;
}

/* Estilo para el botón de cerrar */
.encabezado .notif {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1em;
    position: relative;
    left: 0em;
    color: #007bff;
    top: -0.7em;
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 37.5em) { /* 600px */
    .encabezado .notification-icon {
        font-size: 1.2em;
    }

    .encabezado .notification-count {
        top: -0.2em;
        right: -0.2em;
        padding: 0.2em;
        font-size: 0.6em;
    }

    .encabezado .notifications-popup {
        width: 12em;
        right: 0.5em;
    }

    .encabezado .notifications-header {
        font-size: 0.9em;
    }

    .encabezado .notifications-popup ul li {
        padding: 0.4em;
    }

    .encabezado .notif {
        font-size: 0.9em;
    }
}

/* Media Queries para pantallas medianas */
@media (max-width: 48em) { /* 768px */
    .encabezado .notification-icon {
        font-size: 1.4em;
    }

    .encabezado .notifications-popup {
        width: 13em;
    }

    .encabezado .notifications-header {
        font-size: 1em;
    }

    .encabezado .notifications-popup ul li {
        padding: 0.45em;
    }

    .encabezado .notif {
        font-size: 1em;
    }
}

/* Estilos básicos del botón Avisame */
.encabezado .avisame-button {
    display: flex;
    align-items: center;
    background-color: #0078D4;
    color: white;
    border: none;
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
    border-radius: 0 0 0.3em 0.3em;
    transition: all 0.3s ease;
    font-family: 'Netflix Sans';
    justify-content: center;
}

.encabezado .avisame-button .bell-icon {
    margin-right: 0.5em;
}

.encabezado .avisame-button.recordatorio-activado {
    background-color: #fff;
    color: #000;
}

/* Formulario de suscripción */
.encabezado .subscription-form {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-family: 'Netflix Sans';
}

.encabezado .subscription-form input {
    padding: 0.5em;
    border-radius: 0.3em;
    border: 1px solid #ccc;
    font-size: 1em;
    font-family: 'Netflix Sans';
}

.encabezado .subscription-form button {
    background-color: #0078D4;
    color: white;
    border: none;
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
    border-radius: 0.3em;
    font-family: 'Netflix Sans';
}

.encabezado #logout-btn, .encabezado #login-btn {
    color: #0078D4;
    font-family: 'Netflix Sans';
    border: #0078D4 0.2em solid;
    width: 12%;
    height: 32%;
    text-align: center;
    background: #fff;
    font-weight: 700;
    align-content: center;
    border-radius: 0.3em;
    cursor: pointer;
    top: -2.5em;
    left: 14.4em;
    justify-content: center;
    text-align: center;
    display: grid;
    margin-top: 0.3em;
}

.encabezado #logout-btn:hover, .encabezado #login-btn:hover {
    background-color: #0078D4;
    color: white;
}

/* Media Queries para diseño responsive */
@media (max-width: 48em) { /* 768px */
    .encabezado .avisame-button {
        font-size: 0.9em;
        padding: 0.4em 0.8em;
    }

    .encabezado .avisame-button .bell-icon {
        margin-right: 0.3em;
    }

    .encabezado .subscription-form {
        gap: 0.4em;
    }

    .encabezado .subscription-form input {
        font-size: 0.9em;
        padding: 0.4em;
    }

    .encabezado .subscription-form button {
        font-size: 0.9em;
        padding: 0.4em 0.8em;
    }
}

@media (max-width: 30em) { /* 480px */
    .encabezado .avisame-button {
        font-size: 0.8em;
        padding: 0.3em 0.6em;
    }

    .encabezado .avisame-button .bell-icon {
        margin-right: 0.3em;
    }

    .encabezado .subscription-form {
        gap: 0.3em;
    }

    .encabezado .subscription-form input {
        font-size: 0.8em;
        padding: 0.3em;
    }

    .encabezado .subscription-form button {
        font-size: 0.8em;
        padding: 0.3em 0.6em;
    }
}

/* Estilos para enlaces de navegación */
.encabezado nav a:active {
    color: #fff;
}

.encabezado nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    top: 2.4em;
    position: relative;
}

.encabezado nav li {
    margin: 0 1.25em;
}

.encabezado nav a {
    color: #0078D4;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.125em;
    transition: color 0.3s ease;
    position: relative;
    top: 0.3em;
    font-size: 1.4em;
}

.encabezado nav a:hover {
    color: #005a9e;
}

.encabezado .logo {
    position: absolute;
    color: #0078D4;
    font-weight: 700;
    font-size: 2em;
    top: 0.2em;
    left: 0.78em;
}

/* Estilos para la barra de búsqueda */
.encabezado .search-form {
    display: flex;
    justify-content: right;
    margin-top: 0.9em;
    position: absolute;
    top: 2.1em;
    right: 2em;
    z-index: 10;
}

.encabezado .search-form input[type="text"] {
    width: 15em;
    font-family: 'Netflix Sans';
    padding: 1em;
    font-size: 1em;
    border: 2px solid #0078D4;
    border-radius: 0.5em 0 0 0.5em;
    outline: none;
    font-weight: 700;
    color: #0078D4;
}

.encabezado .search-form input[type="text"]:focus {
    border-color: #0078D4;
}

.encabezado .search-form input[type="text"]::placeholder {
    color: #0078D4;
}

.encabezado .search-form button {
    font-family: 'Netflix Sans';
    padding: 1em 1.5em;
    font-size: 1em;
    background-color: #0078D4;
    color: white;
    border-left: #fff;
    border-top: 2px solid #0078D4;
    border-right: 2px solid #0078D4;
    cursor: pointer;
    border-radius: 0 0.5em 0.5em 0;
}

.encabezado .search-form button:hover {
    background-color: #005a9e;
}
