@import url('https://fuentes.solargentinotv.com.ar/netflixsans.css');

    * {
        font-family: 'Netflix Sans';
    }

    body {
      background: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-family: 'Netflix Sans';
      color: #fff;
    }
    .box {
      background: #181818;
      padding: 2rem;
      border-radius: 12px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
      text-align: center;
      width: 320px;
    }
    p {
      font-size: 16px;
      margin-bottom: 20px;
    }

          
    .g-recaptcha {
    margin-left: 0.6em;
}

.satvsec {
    color: #fff;
    font-size: 2em;
    position: relative;
    margin-left: 1em;
    margin-top: 0.5em;
}