/* Estilo para el dropdown */
.season-dropdown {
    position: relative;
    display: inline-block;
}

.texto2 {
}

texto2 {
    position: absolute;
}

.dropdown-button {
    font-family: 'Netflix Sans';
    margin-top: 2.3em;
    background-color: rgb(36, 36, 36);
    color: white;
    border: 0.1em solid rgb(77, 77, 77);
    padding: 0.625em 0.625em; /* 10px a 0.625em */
    padding-left: 1em;
    font-size: 1em; /* 16px a 1em */
    cursor: pointer;
    border-radius: 0.1875em; /* 3px a 0.1875em */
    margin-bottom: -0.3125em; /* -5px a -0.3125em */
    width: 15em; /* 240px a 15em */
    text-align: left;
    font-weight: 700;
    position: relative;
    margin-top: 5em;
}

.dropdown-button::after {
    content: "▼";
    font-size: 1.2em;
    color: #fff;
    position: absolute;
    right: 0.7em;
    top: 52%;
    transform: translateY(-50%);
    transition: transform 0.3s ease, color 0.3s ease;
}

/* Clase para cuando el dropdown está abierto (flecha hacia arriba) */
.dropdown-button.open::after {
    transform: translateY(-50%) rotate(180deg); /* Mantener el centro y girar la flecha */
}

.dropdown-button:hover {
    cursor: pointer;
}

.dropdown-content {
    font-family: 'Netflix Sans';
    display: none;
    position: absolute;
    background-color: rgb(36, 36, 36);
    color: white;
    border: 0.1em solid rgb(77, 77, 77);
    padding: 0.625em;
    width: 15em;
    z-index: 1;
    box-shadow: 0px 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0 !important;
    margin-top: 0.6em;
    text-align: left; /* Cambiar de justify a left */
    height: 6.3em;
}

button.texto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: white;
    border: none;
    width: 100%;
    padding: 0.5em;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.2s;
    text-align: left;
}

.textotemp {
    flex: 1;
    margin-left: 0.3em;
}

.episode-count {
    font-weight: 100;
    font-size: 0.8em;
    color: #ccc;
    margin-left: 3em;
    white-space: nowrap;
    margin-top: 1.66em;
    position: absolute;
}

#textotemp {
    margin-left: 0.5em;
    font-size: 1.1em;
}

.dropdown-content button {
    font-family: 'Netflix Sans';
    font-weight: 600;
    color: white;
    background: #ffffff00;
    padding: 0.625em 0.625em; /* 10px a 0.625em */
    text-decoration: none;
    display: block;
    border: none;
    width: 14.9em; /* 238px a 14.875em */
    cursor: pointer;
    text-align: justify;
    position: relative;
    left: -0.72em;
    margin-bottom: -1.4em;
}

.texto2 {
    margin-top: 1.4em;
}

.texto {
    margin-left: 0.1em;
}

.dropdown-content button:hover {
    background-color: rgb(66, 66, 66); /* Color de hover en los botones */
}

/* Mostrar el contenido del dropdown al pasar el ratón o hacer clic */
.dropdown-button:focus + .dropdown-content,
.dropdown-content:hover {
    display: block;
}

/* Media Queries para Responsive Design */

/* Pantallas pequeñas */
@media (max-width: 48em) { /* 768px a 48em */
    .dropdown-button {
        font-size: 1.2em; /* 19.2px a 1.2em */
        width: 75%; /* Ajuste en tamaño del botón */
    }

    .dropdown-content {
        width: 75%; /* Ajuste en el tamaño del dropdown */
    }

    .dropdown-content button {
        width: 70%; /* Ajuste en tamaño de los botones */
    }
}

/* Pantallas aún más pequeñas (como móviles) */
@media (max-width: 30em) { /* 480px a 30em */
    .dropdown-button {
        font-size: 1.1em; /* 17.6px a 1.1em */
        width: 80%; /* Ajuste en tamaño del botón */
    }

    .dropdown-content {
        width: 80%; /* Ajuste en el tamaño del dropdown */
    }

    .dropdown-content button {
        width: 75%; /* Ajuste en tamaño de los botones */
    }
}