/* Importamos la tipografía 'Netflix Sans' desde Sol Argentino TV Fuentes */
@import url('https://fuentes.solargentinotv.com.ar/netflixsans.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gdivimg {
}

.sevapronto {
    position: absolute;
    padding-left: 0.7em;
    padding-right: 0.7em;
    padding-bottom: 0.2em;
    padding-top: 0.154em;
    margin-top: 10.24em;
    margin-left: 6em;
    font-size: 0.86em;
    color: #fff;
    font-weight: 700;
    background: #f00;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
}

#cirsvp {
    z-index: 999;
    margin-top: 10.24em;
    margin-left: 6.6em;
}

#act {
    margin-top: 9.46em;
    margin-left: 0.64em;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
}

svg {
    width: 100%;
    max-width: 420px; /* Ajusta según sea necesario */
    height: auto;
    color: #fff;
}


body, html {
    font-family: 'Netflix Sans', sans-serif;
    background-size: cover;
    background-position: center;
    color: #fff;
    font-size: 1rem; /* Base font size = 16px */
    height: 100%; /* Asegura que ocupe todo el alto de la pantalla */
    margin: 0; /* Elimina el margen por defecto */
    padding: 0; /* Elimina el padding por defecto */
    display: flex;
    flex-direction: column;
    background: #141414;
}

.prontodis {margin-left: 3em;margin-top: 1.4em;position: absolute;color: #fff;}

main {
    flex-grow: 1; /* Hace que el contenedor principal ocupe el espacio restante */
    display: flex;
    flex-direction: column;
    gap: 1em; /* Espacio entre las filas */
}

header {
    background-image: url('https://movies.solargentinotv.com.ar/—Pngtree—black background texture advertising_1911402.png');
    background-size: contain; /* Asegura que la imagen cubra todo el header */
    background-position: center; /* Centra la imagen */
    padding: 1.25em; /* Espaciado dentro del header */
    box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

h1 {
    font-size: 2.25em; /* 36px = 2.25em */
    margin-bottom: 2.5em; /* 40px = 2.5em */
    color: #fff; /* Color blanco para el título */
    text-align: center; /* Centrado del título */
}

.desc {
    margin-top: 1.5em; /* Espaciado por encima de la descripción */
    font-size: 1.125em; /* Tamaño de fuente ligeramente mayor */
    color: #ddd; /* Color claro para la descripción */
    text-align: center; /* Centrado del texto de la descripción */
    padding: 0 20px; /* Espaciado interno para que no toque los bordes */
}

.desc p {
    line-height: 1.5; /* Espaciado entre las líneas del párrafo */
    max-width: 50em; /* Ancho máximo para mejorar legibilidad */
    margin: 0 auto; /* Centrado del párrafo */
    margin-top: -5.5em;
    text-align: justify;
}